<div class="page">
  <div class="main">
    <p id="notice"><%= notice %></p>

    <p>
      <b>Name:</b>
      <%= @post.name %>
    </p>

    <p>
      <b>Url:</b>
      <%= @post.url %>
    </p>

    <p>
      <b>Facebook_id:</b>
      <%= @post.facebook_id %>
    </p>

    <p>
      <b>Count:</b>
      <%= @post.count %>
    </p>

    <p>
      <b>Description:</b>
      <%= @post.description %>
    </p>


    <%= link_to 'Back', posts_path %>

  </div>
</div>